.infected {
  border-bottom: 23px solid yellow;
  border-top: 23px solid yellow;
  margin: 23px;
}

.recovered {
  border-bottom: 23px solid green;
  border-top: 23px solid green;
  margin: 23px;
}

.deaths {
  border-bottom: 23px solid red;
  border-top: 23px solid red;
  margin: 23px;
}

.navbar {
  background-color: rgb(90, 0, 113);
}

.navbarValue {
  color: rgb(255, 255, 255) !important;
  font-size: 39px !important;
}

.navbar2 {
  background-color: rgb(90, 0, 113);
  margin: 23px;
}

.navbarValue2 {
  color: rgb(255, 255, 255) !important;
  font-size: 23px !important;
}

.country {
  text-align: center !important;
}
.countrylist {
  color: rgb(255, 255, 255) !important;
  background-color: rgb(153, 78, 172) !important;
  margin: 23px;
}

.chart {
  display: flex;
  justify-content: center;
  width: 100%;
}

.MuiFormControl-root {
  width: 100%;
}
.countrySelect {
  width: 15%;
  margin: auto;
  margin-top: 23px !important;
  padding: 5px;
  padding-left: 82px;
  border: 1.5px solid rgb(153, 78, 172);
  box-shadow: 0 0 5px 1px rgba(153, 78, 172);
  border-radius: 10px;
}
